.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.intro-index {
  margin-bottom: 15px;
  height: 448px;
  overflow: hidden;
}

.title-list {
  text-align: left;
  height: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  position: relative;
}

.title-list > h2 {
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #4e4e4e;
}

.text-title {
  color: #4e4e4e;
  text-decoration: none;
}

.index-intro {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 10px;
}

.item {
  height: 192px;
  width: 129px;
  position: relative;
  transition: all 0.1s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item:hover {
  transform: scale(1.05);
}

.item-img {
  box-shadow: 0 1px 2px #b5b5b5;
  width: 129px;
  height: 192px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.title {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #f4f4f4;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 0;
  text-shadow: 1px 2px 2px #000;
  font-size: 12px;
  text-align: center;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
}

.full-label {
  width: 34px;
  height: 50px;
  position: absolute;
  margin: 140px 0 0 -7px;
  z-index: 1;
  background: transparent url(//static.8cache.com/img/full-label.png) no-repeat;
}

///DARK

.dark-theme .title-list {
  border-bottom: 0;
}

.dark-theme .title-list > h2,
.dark-theme .title-list > h2 > a {
  color: white;
  text-shadow: 1px 1px 2px black;
}
.dark-theme .form-control {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background: #1c242d;
  border: 1px solid #192128;
  color: white;
}
.dark-theme .new-select,
.dark-theme #intro-index .new-select,
.dark-theme .filter {
  background-color: #2d3741;
  box-shadow: 0 0 3px rgba(10, 10, 10, 0.4);
}

.dark-theme .form-select {
  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  appearance: none; /* Chỉ sử dụng thuộc tính chuẩn */
  background-image: var(--bs-form-select-bg-img), var(--bs-form-select-bg-icon, none);
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
