.container {
  background-color: #14425d;
  margin-top: 20px;
}

.info {
  margin-top: 20px;
}

.text {
  font-size: 16px;
}

.text {
  color: white;
}

.text a {
  color: #1ba7fe;
  text-decoration: underline;
  line-height: 1.5em;
}

.logo {
  text-align: center;
}

.logowweb {
  height: 150px;
  width: 260px;
  object-fit: fill;
}
